<div class="container">
    <div class="py-3">
        <h1>Show Book</h1>
        <div class="card text-left">
            <div class="card-body">
                <h3 class="card-title">{{book.title}} <small>(#{{book._id}})</small></h3>
                <h5><b>{{join book.authors ', '}}</b></h5>
                <h6><b>{{book.pub}}</b></h6>
                <h5 class="card-text">{{book.lang}}</h5>
                <h6>{{book.edition}}</h6>
                <h6><b>Pages:</b> {{book.num_pages}}</h6>
                <h6><b>Price:</b> ₹{{book.price}}</h6>
                <h6><b>ISBN:</b> {{book.isbn}}</h6>
                <h5>
                    {{#each (split book.query ", ") }}
                    <span class="badge badge-pill badge-primary">
                        {{this}}</span>
                    {{/each}}
                </h5>
                {{#if book.cover}}
                <img src="{{book.cover}}" alt="{{book.title}}">
                {{/if}}
                {{#if book.bfile}}

                {{/if}}
            </div>
        </div>
    </div>
</div>