<div class="container">
    <div class="py-3">
        <h1>Search Books</h1>
        <div class="p-1 rounded rounded-pill overflow-hidden shadow-sm mb-4 search-bar">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <button id="button-addon2" type="button"
                        class="btn btn-lg btn-link orange-text m-0 px-3 py-2 z-depth-0 search-btn">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <input type="search" placeholder="Search by name ..." value="{{query}}" aria-describedby="button-addon2"
                    class="form-control border-0 white">
            </div>
        </div>
        <div class="row">
            {{#each book}}
            <div class="col-sm-12 mt-2">
                <div class="p-3 border orange lighten-5">
                    <h3>{{title}} <small>(#{{_id}})</small></h3>
                    <h4>{{join book.authors ', '}}</h4>
                    <div class="btn-group" role="group">
                        <a href="show/{{_id}}" class="btn btn-md yellow accent-2">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            Show</a>
                        <a href="edit/{{_id}}" class="btn btn-md btn-primary cyan">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            Edit</a>
                        <form class="btn p-0" action="delete/{{_id}}?_method=DELETE" method="post">
                            <button type="submit" class="btn btn-md m-0 btn-primary red lighten-2">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                                Delete
                            </button>
                        </form>


                    </div>
                </div>
            </div>
            {{else}}
            <div class="col-sm-12">
                <div class="empty-msg py-3">
                    <p>No books found</p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>